ul.bullet {
    list-style-type: none;
}

.matches {
  display: flex;
  justify-content: space-between;
}

.match {
  border: 1px solid black;
  flex: 1;
  
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  box-shadow: 2px 2px 50px 2px;


}
